---
import SectionContainer from "@/components/SectionContainer.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import BriefCaseIcon from "@/components/icons/BriefCase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import Experience from "@/components/Experience.astro";
import Layout from "@/layouts/Layout.astro";
import AboutMe from "@/components/AboutMe.astro";
import Projects from "@/components/Projects.astro";
import Me from "@/components/Me.astro";
---

<Layout
  title="👨‍💻 Portfolio de Carlos Rivera - Desarrollador y Programador de software"
  description="Contrata a Carlos Rivera como desarrollador de software, enfocado en el lado del backend."
>
  <main class="mdx:px-36 px-4">
    <SectionContainer id="home" class="py-16 md:py-36">
      <Me>
        <slot/>
      </Me>
    </SectionContainer>

    <div class="space-y-24">

      <SectionContainer id="experiencia">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <BriefCaseIcon class="size-7" />
          Experiencia laboral
        </h2>
        <Experience />
      </SectionContainer>

      <SectionContainer id="proyectos">
        <h2 class="text-3xl font-semibold mb-6 flex gap-x-3 items-center">
          <CodeIcon class="size-7" />
          Proyectos Personales
        </h2>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <h2 class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white">
          <ProfileCheck class="size-8" />
          Sobre mí
        </h2>
        <AboutMe />
      </SectionContainer>
    </div>
  </main>
</Layout>
