---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Noviembre 2024 - Actualmente",
    logo: "images/SRF.webp",
    company: "SRF Consultores",
    title: "Desarrollador Junior",
    description: `Desempeño de tareas de desarrollo de software, creación de componentes, mantenimiento de código, y pruebas de software.`,
    link: "https://srfconsultores.com/",
  },
  {
    date: "Enero 2024 - Mayo 2025",
    logo: "images/Vidanova.webp",
    company: "Vidanova",
    title: "Auxiliar de tecnología",
    description: `Aplicaciíon de conocimientos en el uso de excel, word y otras herramientas ofimáticas,
    se controla/maneja un sistema de información de tipo oncológico, solución de errores/fallos en equipos de computo.`,
    link: "https://vidanova.com.co/",
  },
  {
    date: "Febrero 2018 - Noviembre 2019",
    logo: "images/IEMMO.webp",
    company: "Institución Educativa Metropolitano María Occidente - IEMMO",
    title: "Técnico en Sistemas",
    description:
      "Mantenimiento preventivo y correctivo de equipos de cómputo, instalación de redes, soporte técnico.",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
