<header
  class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto"
>
  <img
    class="rounded-full size-12 mb-4"
    src="../../resources/images/representacion.jpeg"
    alt="carlos photo"
  />

  <nav class="flex flex-row gap-x-10 opacity-80">
    <a href="#top">Inicio</a>
    <a href="#experiencia">Experiencia</a>
    <a href="#proyectos">Proyectos</a>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#contacto">Contacta me</a>
  </nav>
</header>
