---
import ExperienceItem from "./ExperienceItem.astro";

const EXPERIENCE = [
  {
    date: "Febrero 2020 - Noviembre 2020",
    logo: "images/Unicomfacauca.webp",
    company: "Unicomfacauca - Semillero IA&BG",
    title: "Líder y coordinador de proyecto",
    description:
      "Coordinación de proyecto 'Detección del uso incorrecto del tapabocas' usando visión por computadora y machine learning con python.",
    link: "https://www.unicomfacauca.edu.co/investigacion/semilleros-de-investigacion/#1608132355012-4a8ccd5c-2231",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCE.map((experience) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
