<a
  class="flex justify-center items-center border rounded-full dark:border-white/10 border-gray-400 gap-x-2 py-1 px-2 md:py-2 md:px-4 text-xs md:text-base text-black/70 dark:text-white dark:bg-gray-700 hover:scale-105 hover:bg-white/30 transition"
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
>
  <slot />
</a>
